:root {
  --text-color: #333;
  --card-bg-color: #ffffff;
  --hover-color: #f0e1f7; /* Un tono suave y elegante */
  --accent-color: #ff6347; /* Un color más cálido para destacar elementos */
}

h3 {
  font-size: 36px;
  margin: 20px 0;
  color: var(--text-color);
  text-align: center;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
}

li {
  background-color: var(--card-bg-color);
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

li:hover {
  transform: scale(1.05);
  background-color: var(--hover-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

li img {
  border-radius: 8px;
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

li img:hover {
  transform: scale(1.05);
}

li p {
  font-weight: bold;
  color: var(--text-color);
  font-family: 'Helvetica Neue', sans-serif;
}

.animal-toggle-buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding-left: 20px;
}

.toggle-button {
  width: 40px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.toggle-button:hover {
  transform: scale(1.1);
  background-color: var(--accent-color);
}

.toggle-button.active {
  border: 2px solid var(--text-color);
  border-radius: 8px;
  padding: 4px;
  background-color: var(--accent-color);
  color: white;
}

  