:root {
  --background-color: #f4f7fb; /* Color suave para el fondo */
  --text-color: #333; /* Texto oscuro para buena legibilidad */
}

body {
  background-color: var(--background-color);
  padding: 40px;
  padding-top: 20px; /* Añadí más espacio arriba para un diseño más aireado */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--text-color);
  line-height: 1.6; /* Mejora la legibilidad */
}

